{% extends 'layout.twig' %}

{% block content %}
    <a href="{{function('get_post_type_archive_link', post.post_type)}}">Jokes</a>
    <h1>{{post.title}}</h1>

    {% for tag in post.terms('tags') %}
    <a href="{{tag.link}}">{{tag.title}}</a>
    {% endfor %}

    {{post.content}}

    <hr>

    {% set comedian__raw = post.get_field('comedian') %}
    {% if comedian__raw is not empty %}
        <h2>Comedian</h2>
        {% set comedian = TimberPost(comedian__raw.ID) %}
        <h3><a href="{{comedian.link}}">{{comedian.title}}</a></h3>
    {% endif %}
{% endblock %}
